<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    </style>
</head>
<body>
<!--/*@thymesVar id="view" type="com.pgrela.sda.tdd.gui.shop.view.View"*/-->
<h3 th:text="${view.message}" class="text-center"></h3>
<form action="#" method="post">
    <h2>Available items</h2>
    <table class="table">
        <tr>
            <td th:each="header : ${view.availableItemsHeaders}" th:text="${header}"></td>
        </tr>
        <tr th:each="item : ${view.availableItems}">
            <td th:each="property : ${item.properties}" th:text="${property}"></td>
            <td>
                <input th:each="action : ${item.actions}" type="submit" th:name="'action['+${item.id}+']['+${action}+']'"
                       class="btn btn-primary mr-1"
                       th:value="${action}"/>
            </td>
        </tr>
    </table>
    <h2>Shopping Card</h2>
    <table class="table">
        <tr>
            <td th:each="header : ${view.shoppingCardHeaders}" th:text="${header}"></td>
        </tr>
        <tr th:each="item : ${view.shoppingCard}">
            <td th:each="property : ${item.properties}" th:text="${property}"></td>
            <td>
                <input th:each="action : ${item.actions}" type="submit" th:name="'action['+${item.id}+']['+${action}+']'"
                       class="btn btn-primary mr-1"
                       th:value="${action}"/>
            </td>
        </tr>
    </table>
    <h3 th:text="${view.shoppingCardMessage}" class="text-center"></h3>
    <input class="btn btn-lg btn-danger" type="submit" value="Drop all items" name="dropAllItems"/>
    <input class="btn btn-lg btn-success" type="submit" value="Buy" name="buy"/>
</form>
</body>
</html>