<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tic Tac Toe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        table {
            margin: 0 auto;
        }

        input.btn {
            width: 5rem;
            height: 5rem;
            font-size:3rem;
            line-height: 0;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="board" type="com.pgrela.sda.tdd.gui.games.model.Board"*/-->
<h3 th:text="${board.message}" class="text-center"></h3>
<form action="#" method="post" class="text-center">
    <table>
        <tr th:each="row,rowIndex : ${board.board}">
            <td th:each="symbol,columnIndex : ${row}">
                <input type="submit" th:name="'board['+${rowIndex.index}+']['+${columnIndex.index}+']'" class="btn btn-primary btn-lg" th:value="${symbol}"/>
            </td>
        </tr>
    </table>
    <input type="submit" name="newGame" value="New game"/>
    <input type="submit" name="back" value="Undo move"/>
</form>
</body>
</html>